@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.header-container {
  background-color: #7dcbf4;
}

.header {
  margin: auto;
  max-width: 85%;
  padding: 3em 0;
  display: flex;
  justify-content: space-between;
}

button {
  color: black;
}

.header a,
#add-movies-link {
  padding-top: 1.6em;
  color: black;
  text-decoration: none;
}

.search-container {
  position: relative;
  display: flex;
  max-width: 80%;
  margin: auto;
  align-self: center;
  margin-top: -0.7em;
}

#search-bar {
  padding-left: 2em;
  font-size: 0.9em;
  width: 50%;
  height: 2em;
  margin: auto;
  margin-right: 0;
  background-image: url("./icons/search-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: left;
  border: 1.5px solid black;
  border-radius: 0.3em;
}

#search-button {
  position: absolute;
  right: 0;
  align-self: center;
  border-radius: 0.2em;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.movies-container {
  max-width: 950px;
  margin: auto;
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  padding: 1.5em;
}

#explore-div {
  align-items: center;
  text-align: center;
}

.movie-info {
  display: flex;
}

.movie-poster {
  border-radius: 1em;
  height: 200px;
  margin: 1em 1.5em 0 0;
}

.movie-details {
  padding-top: 1em;
}

.watchlist-btn,
.remove-watchlist-btn {
  border: none;
  background: transparent;
  font-size: 1.1em;
  cursor: pointer;
}


.movie-title {
  font-weight: bold;
}

.movie-title img {
  margin: 0 0.2em 0 0.5em;
}

hr {
  width: 100%;
  margin-bottom: 1.5em;
}

.read-more {
  text-decoration: underline;
  color: black;
  cursor: pointer;
  padding-left: 0.8em;
}

.addToWatchlist,
.removeFromWatchlist {
  display: flex;
  align-items: center;
}

.add-watchlist {
  cursor: pointer;
}

@keyframes popup {
  0% {
    opacity:0; 
  }
  100% {
    opacity: 1;
  }
}

.done {
  display: flex;
  align-items: center;
  color: green;
  height: 23px;
  animation-name: popup;
  animation-duration: 0.5s;
}

.add-icon {
  width: 13%;
}

#error-message {
  text-align: center;
}

@media (max-width: 650px) {
  .header {
    font-size: 0.8em;
    padding: 2em;
  }
  .movie-info {
    font-size: 0.8em;
  }
  .movie-info .movie-title {
    font-size: 0.9em;
  }
  .movie-poster {
    height: 180px;
  }
  .movie-title img {
    width: 10px;
  }
  .add-icon,
  .remove-icon {
    width: 12px;
  }
  #search-button {
    font-weight: bold;
  }
}

@media (max-width: 470px) {
  .header {
    font-size: 0.8em;
    padding: 2em;
  }
  .movie-info {
    font-size: 0.8em;
  }
  .movie-info .movie-title {
    font-size: 1em;
  }
  .movie-poster {
    height: 160px;
  }

  .movie-title img {
    width: 7px;
  }
  .add-icon,
  .remove-icon {
    width: 10px;
  }
  .done img {
    width: 20px;
  }
  #search-button {
    font-weight: bold;
  }
}
